.boxcontainer{
    width: 18%;
    background: linear-gradient(177.23deg, #9C2CF3 -13.49%, #3A49F9 109.75%);
    height: 95%;
    padding-top: 37px;
    padding-left: 37px;
    padding-right: 37px;
    border: 0px Solid black;
    outline: none;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.boxcontainer button{
    font-size: larger;
    background-color: #9C2CF3;
    color: white;
    width: 60%;
    height:60px;
}