.title{
    color: rgba(46, 58, 89, 1);
    width: 249px;
    height: 69px;
    top: 147px;
    left: 50px;
    gap: 0px;
    opacity: 0px;


}

.para{
    width: 191px;
    height: 34px;
    top: 214px;
    left: 50px;
    gap: 0px;
    opacity: 0.54px;

}